@charset "utf-8";

$font: 'Bitter', serif;
$black: #111111;

body {
  margin: 0;
  padding: 0;
  color: #333333;
  font-size: 15px;
  line-height: 2;
  position:    relative;
}


a {color: #3583aa;  text-decoration: none; }
a:hover { text-decoration: underline; }


